body {
  background-color: #1E1E1E;
  color: #ffffff;
  text-align: center;
}
div.row {
  padding: 20px 0px;
  margin: auto;
  max-width: 60%;
}
a#total {
  font-size: 22px;
  background-color: #007acc;
  font-weight: 600;
  border-radius: 10px;
  padding: 0 10px
}
form {
  width: 100vw;
}
button {
  display: none;
}